PORT=3000

AUTH_BASE_URL=https://authentication.simorgh.dev/api/v1
AUTH_SYSTEM_USERNAME=
AUTH_SYSTEM_PASSWORD=
AUTH_ROLE_NAME=user
AUTH_SMS_TEMPLATE=164734
AUTH_PATTERN_NAME=register
AUTH_SMS_SYSTEM_NAME=test
